<div class="ui bottom attached tab segment" data-tab="ingredients">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_ingredients', {'product': product}) }}



    {% set firstVariant = product.variants.get(0) %}

    {% set ingredients = firstVariant.ingredients|length ? firstVariant.ingredients|raw : product.ingredients | raw %}

    {% if product.getMainTaxon().getCode() in glubal_nonFood %}
        <p id="ecolos_product_variant_ingredients">
            {{ ingredients }}
        </p>
    {% else %}
        <p class="ingredients" id="ecolos_product_variant_ingredients">
            {{ ingredients }}
        </p>

        {% include '@EcolosSyliusEuPlugin/colorants.html.twig' %}

        {% include '@EcolosSyliusEuPlugin/allergenics.html.twig' %}
    {% endif %}

    {% include '@EcolosSyliusEuPlugin/caffeine.html.twig' %}
</div>
