{% macro exceed(nonFood) %}
    {% if not nonFood %}
        <p class="mt-1">
            <strong>{{ 'sylius.ui.information'|trans }}: </strong>{{ 'app.ui.dont_exceed_recommendation'|trans }}
        </p>
    {% endif %}
{% endmacro %}

<div class="ui bottom attached tab segment" data-tab="intake">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_intake', {'product': product}) }}

    {% set firstVariant = product.variants.get(0) %}

    <p id="ecolos_product_variant_intake">
        {{ firstVariant.intake is not null ? firstVariant.intake|raw : product.intake|raw }}
    </p>
</div>
