<div class="ui bottom attached tab segment" data-tab="nutritionFacts">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_nutritionFacts', {'product': product}) }}

    {% set firstVariant = product.variants.get(0) %}

    {% include '@EcolosSyliusEuPlugin/nutritionFacts.html.twig' %}
</div>
