{% set firstVariant = product.variants.get(0) %}

{% set allergenics = firstVariant.allergenics | length ? firstVariant.allergenics : product.allergenics %}

{% if allergenics | length %}
    <div class="ecolos_product_variant_allergenics">
        {{ allergenics | raw }}
    </div>
{% endif %}


