{% from "@EcolosSyliusEuPlugin/util.html.twig" import transformBasePrice, transformContentsUnit %}

{% set contentsUnit = product.getAttributeByCodeAndLocale(_contentsUnit, sylius.localeCode) %}

{% if contentsUnit is not null %}
    {% set unit = contentsUnit.attribute.configuration.choices[contentsUnit.value|first][sylius.localeCode] %}

    {% if contentsUnit is not null %}
        {% set contents = null %}

        {% set unit = contentsUnit.attribute.configuration.choices[contentsUnit.value|first][sylius.localeCode] %}

        {% if unit is not null %}
            {% if product.isSimple() or product.getVariantSelectionMethod() == 'match' %}
                {% set contents = product.getAttributeByCodeAndLocale(ecolos_eu_contents, sylius.localeCode) %}

                {% set contents = contents is defined and contents.value is not same as(0) ? contents.value : null %}
            {% else %}
                {% for optionValue in product.variants|first.getOptionValues().values if optionValue.option.code == ecolos_eu_contents %}
                    {% set contents = optionValue.value | number_format %}
                {% endfor %}
            {% endif %}

            {% if contents is defined and contents is not null %}
                <span class='ecolos-eu-product-base-price'>
                    {% if hasBasePrice(unit) == true %}
                        {% if pdp != true %}
                            {% import '@EcolosSyliusEuPlugin/from.html.twig' as from %}

                            {{ from.variants(product) }}
                        {% endif %}
                        {{ transformBasePrice(product|sylius_resolve_variant|sylius_calculate_price({'channel': sylius.channel}), contents, unit) }}
                        € /{{ transformContentsUnit(unit, contents) }}
                    {% endif %}
                </span>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}