{% macro text(_colorants) %}
    {% if _colorants|length %}
        <strong>{{ "ecolos_sylius_eu_plugin.hint"|trans }}: </strong>
        {{ "ecolos_sylius_eu_plugin.containsColorant"|trans }}

        {% set colorants = [] %}
        {% for colorant in _colorants %}
            {% if colorant != 1 %}
                {% set colorants = colorants|merge([colorant]) %}
            {% endif %}
        {% endfor %}

        {% if colorants|length %}
            {% set header = "ecolos_sylius_eu_plugin.colorant"|transchoice(colorants|length) %}

            {{ "ecolos_sylius_eu_plugin.%colorants% warning"|transchoice(colorants|length, {
                'colorants': header  ~ ' ' ~ colorants|join(', ', ' & ')
            }) }}
        {% endif %}
    {% endif %}
{% endmacro %}

<p id="ecolos_product_variant_colorants">
    {% import _self as macros %}
    {{ macros.text(firstVariant.colorants|length ? firstVariant.colorants : product.colorants) }}
</p>
