<div class="ui bottom attached tab segment" data-tab="nutritionFacts">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_nutritionFacts', {'product': product}) }}

    {% if product.variants|first.nutritionFacts|length %}
        <div id="ecolos_product_variant_nutritionFacts">
            {{ product.variants|first.nutritionFacts | raw }}
        </div>
    {% endif %}

    {% if product.nutritionFacts|length %}
        <div>{{ product.nutritionFacts | raw }}</div>
    {% endif %}
</div>
